<footer class="footer">
    <div class="container">
      <div class="copyright">© 2023 naknamu. All rights reserved.</div>

      <ul class="social-list">
        <li>
          <a href="https://github.com/naknamu" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
      
    </div>
  </footer>