<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3X3RW0NDFP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3X3RW0NDFP');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Secret World | <%= title %></title>

     <!-- 
    - Google font
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">

    <!-- 
    - favicon
    -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- 
    - primary meta tags
    -->
    <title>Secret World - Post Anonymous Messages.</title>
    <meta
      name="title"
      content="Members only club."
    />
    <meta name="description" content="A secret club where members can post anonymous messages" />

</head>