<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/nav'); %>

    <h1>Sign up form</h1>
    
    <%- include('partials/footer'); %>
  </body>
</html>