.signup {
    margin-block-start: calc(var(--section-padding-s) + 50px);
}

.card {
    padding: 32px;
    border-radius: var(--radius-8);
    display: grid;
    gap: 40px;
}

.input-field {
    background-color: var(--background-primary);
    color: var(--foreground-secondary);
    font-size: var(--fs-7);
    padding: 14px 18px;
    border-radius: var(--radius-6);
    outline: none;
    margin-block-end: 20px;
}

.input-field::placeholder {
    color: var(--manatee);
}