@import "header.css";
@import "signup.css";
@import "footer.css";
@import "message.css";
@import "passcode.css";

:root {
  /**
* colors
*/

  --white: hsla(0, 0%, 100%, 1);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --cultured: hsla(220, 20%, 97%, 1);
  --snow: hsla(345, 57%, 97%, 1);
  --manatee: hsla(219, 10%, 62%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --cinnamon-satin: hsla(344, 53%, 62%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
  --gunmetal: hsla(214, 15%, 21%, 1);
  --charcoal: hsla(219, 22%, 26%, 1);
  --sea-blue: hsl(197, 100%, 29%);
  --pine-green: hsl(175, 98%, 24%);

  color-scheme: dark; /* dark supported */

  /**
* dark theme colors 
*/

  --background-primary: hsl(221, 39%, 11%);
  --background-secondary: hsl(220, 26%, 14%);
  --background-hero: rgba(0, 105, 148, 0.1);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: rgb(209 213 219);
  --foreground-secondary: rgb(156 163 175);
  --foreground-tertiary: hsl(214, 20%, 69%);
  --foreground-hidden: rgb(107, 114, 128);

  --accent: hsl(175, 98%, 24%);

  /**
* typography
*/

  --ff-courgette: "Courgette", cursive;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + 0.66vw);
  --fs-3: calc(2.6rem + 0.24vw);
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;

  --fw-700: 700;

  /**
* spacing
*/

  --section-padding-s: 70px;
  --section-padding-b: 90px;

  /**
* box shadow
*/

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);

  /**
* border radius
*/

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
* transition
*/

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-montserrat);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-primary);
  color: var(--foreground-secondary);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.dark-theme img {
  filter: brightness(0.8) contrast(1.1);
}

html,
body {
  overflow-x: hidden;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.social-list {
  display: flex;
  gap: 12px;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  transform: translateY(-3px);
}

.section {
  padding-block: var(--section-padding-s);
}

.w-100 {
  width: 100%;
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--foreground-primary);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-4);
}

.btn {
  color: var(--pine-green);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  border: 2px solid var(--pine-green);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.btn-primary,
.btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--pine-green);
  color: var(--white);
}

.section-text {
  font-size: var(--fs-5);
}

.section-title {
  margin-block-end: 16px;
}

.card {
  background-color: var(--background-hero);
  padding: 32px;
  border-radius: var(--radius-8);
  display: grid;
  gap: 12px;
}

/*-----------------------------------*\
  INDEX BODY MESSAGES
\*-----------------------------------*/

.home {
  margin-block-start: calc(var(--section-padding-s));
}

.grid-list {
  display: grid;
  gap: 20px;
}

.grid-list .section-title {
  margin-block-end: 8px;
}

.message-sign {
  font-size: var(--fs-8);
  color: var(--foreground-hidden);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
* responsive for larger than 575px screen
*/

@media (min-width: 575px) {
  /**
* REUSED STYLE
*/

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  /**
* REUSED STYLE
*/

  .container {
    max-width: 720px;
  }

  .section-text {
    --fs-5: 2rem;
  }
}

@media (min-width: 992px) {
  /**
* RESET
*/

  .h1 {
    font-size: var(--fs-2);
  }

  /**
* REUSED STYLE
*/

  .container {
    max-width: 960px;
  }

  /**
* HEADER
*/

  .nav-open-btn,
  .navbar-top,
  .navbar .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .navbar-list {
    display: flex;
    gap: 36px;
    margin-inline: auto;
  }

  .navbar-link {
    color: var(--foreground-primary);
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--sea-blue);
  }

  .header {
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header.active {
    top: 0;
    left: 0;
    max-width: unset;
    border-radius: 0;
  }

  .account-details {
    position: relative;
  }

  .account-wrapper {
    position: absolute;
    background-color: var(--sea-blue);
    color: var(--foreground-primary);
    top: -200px;
    padding: 18px;
    font-size: var(--fs-7);
    z-index: 5;
    border-radius: var(--radius-6);
    left: -55px;
    width: 170px;
    visibility: hidden;
    transition: var(--transition-2);
  }

  .account-wrapper.active {
    visibility: visible;
    transform: translateY(265px);
  }
}

/**
* responsive for large than 1200px screen
*/

@media (min-width: 1200px) {
  /**
* REUSED STYLE
*/

  .container,
  .header {
    max-width: 1140px;
  }

  .account-wrapper,
  .account-wrapper.active {
    width: 222px;
    left: -75px;
  }
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
  /**
  * REUSED STYLE
  */

  .container,
  .header {
    max-width: 1320px;
  }
}
